<%= image_tag("#{@room_photo.photo}") %>
<%= form_for(@room_photo) do |f| %>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>