<h1>Editing room photo</h1>

<%= render "form", room_photo: @room_photo %>

<br>

<div>
  <%= link_to "Show this room photo", @room_photo %> |
  <%= link_to "Back to room of this photo", @room_photo.room %> |
  <%= link_to "ADMIN back to room of this photo", admin_room_path(@room_photo.room) %>
  <%= button_to "Destroy this room photo", @room_photo, method: :delete %>
</div>