<h1>List of bookings</h1>

<%= link_to "Download as CSV", "export.csv" %>
<%= link_to "Download as XLSX", "export.xlsx" %>
<style>
    table, th, td {
        border: 2px solid white;
    }

    th, td {
        background-color: #DCDCDC;
    }
</style>
<table class="table">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">People</th>
    <th scope="col">Room id</th>
    <th scope="col">Check in</th>
    <th scope="col">Check out</th>
    <th scope="col">Status</th>
    <th scope="col">Created at</th>
    <th scope="col">Updated at</th>
    <th scope="col">Confirm</th>
    <th scope="col">Destroy</th>
  </tr>
  <% @bookings.each do |admin_booking| %>
    <tr>
      <td><%= admin_booking.username %></td>
      <td><%= admin_booking.email %></td>
      <td><%= admin_booking.people %></td>
      <td><%= admin_booking.room_id %></td>
      <td><%= admin_booking.check_in %></td>
      <td><%= admin_booking.check_out %></td>
      <td><%= admin_booking.status %></td>
      <td><%= admin_booking.created_at %></td>
      <td><%= admin_booking.updated_at %></td>
      <td><%= button_to "Confirm", confirmation_admin_booking_path(admin_booking), method: :get, class: "btn btn-xs btn-warning" %></td>
      <td><%= button_to "Destroy", admin_booking_path(admin_booking), method: :delete, class: "btn btn-xs btn-danger" %></td>
    </tr>
  <% end %>
</table>