<div id="<%= dom_id room %>">
  <p>
    <strong>Title:</strong>
    <%= room.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <% @room.room_photos.each do |photo| %>
  <%= image_tag photo.room_photo %>
  <% end %>

</div>