<div id="<%= dom_id room %>">
  <div class="row">
    <div class="col-xs-8">
      <strong>The room</strong>
    </div>
    <div class="col-xs-8">
      <div class="well well-lg">
        <div class="article-title">
          <strong>Title:</strong>
          <%= room.title %>
        </div>
        <div class="article-title">
          <strong>Description:</strong>
          <%= room.description %>
        </div>
        <div class="article-title">
          <strong>Price:</strong>
          <%= room.price %>
        </div>
        <div class="article-body">
          <hr />
          <% room.room_photos.each do |photo| %>
            <%= link_to image_tag(photo, style:"width:200px; height:200px"), photo %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>