<h1>Rooms</h1>
<table border="2">
  <tr>
    <th>Room id</th>
    <th>Room title</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Show</th>
    <th>Update</th>
    <th>Destroy</th>
  </tr>
  <% @admin_rooms.each do |admin_room| %>
    <tr>
      <td><%= admin_room.id %></td>
      <td><%= admin_room.title %></td>
      <td><%= admin_room.created_at %></td>
      <td><%= admin_room.updated_at %></td>
      <td><%= button_to "Show #{admin_room.id}", admin_room_path(admin_room), method: :get %></td>
      <td><%= button_to "Update #{admin_room.id}", edit_admin_room_path(admin_room), method: :get %></td>
      <td><%= button_to "Destroy #{admin_room.id}", admin_room_path(admin_room), method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add new room", new_admin_room_path %>