<h1>Table of rooms</h1>

<%= link_to "Add new room", new_admin_room_path %>
<style>
    table, th, td {
        border: 2px solid white;
    }

    th, td {
        background-color: #DCDCDC;
    }
</style>
<table class="table">
  <tr>
    <th scope="col">Room title</th>
    <th scope="col">Created at</th>
    <th scope="col">Updated at</th>
    <th scope="col">Open</th>
    <th scope="col">Update</th>
    <th scope="col">Destroy</th>
  </tr>
  <% @rooms.each do |admin_room| %>
    <tr>
      <td><%= admin_room.title %></td>
      <td><%= admin_room.created_at %></td>
      <td><%= admin_room.updated_at %></td>
      <td><%= button_to "Open", admin_room_path(admin_room), method: :get, class: "btn btn-xs btn-primary" %></td>
      <td><%= button_to "Update", edit_admin_room_path(admin_room), method: :get, class: "btn btn-xs btn-warning" %></td>
      <td><%= button_to "Destroy", admin_room_path(admin_room), method: :delete, class: "btn btn-xs btn-danger" %></td>
    </tr>
  <% end %>
</table>