<div id="<%= dom_id booking %>">
  <p>
    <strong>Username:</strong>
    <%= booking.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= booking.email %>
  </p>

  <p>
    <strong>Check in date::</strong>
    <%= booking.check_in %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= booking.check_out %>
  </p>

  <p>
    <strong>Number of people:</strong>
    <%= booking.people %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= booking.room_id %>
  </p>
</div>