<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :check_in, style: "display: block" %>
    <%= form.date_field :check_in %>
  </div>

  <div>
    <%= form.label :check_out, style: "display: block" %>
    <%= form.date_field :check_out %>
  </div>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :people, style: "display: block" %>
    <%= form.number_field :people %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.number_field :room_id, autofocus: true %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>