
<div id="<%= dom_id room %>">
  <p>
    <%= link_to room.title, room %>
  </p>

  <p>
    <%= room.description %>
  </p>

  <p>
  <p><strong>Price</strong>: <%= room.price %> AMD per one night</p>
  </p>

  <hr />
  <% room.room_photos.each do |photo| %>
    <%= link_to image_tag(photo, style:"width:200px; height:200px"), photo %>
  <% end %>
</div>

<div>
  <% if params[:action] == "show" %>
    <%= link_to "Back to rooms", rooms_path %>
  <% elsif params[:action] == "index" %>
    <%= link_to "Show this room", room_path(room) %>
  <% end %>
</div>
<p>
  <%= link_to "Booking this room", new_booking_path(room: room) %>
</p>