<%= 'No room at all' if @rooms.empty? %>
<div id="<%= dom_id room %>">
  <p>
    <strong>Room:</strong>
    <%= room.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= truncate(room.description, length: 100) %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <% room.room_photos.each_with_index do |p, index| %>
    <%= image_tag p.photo_url if params[:action] == "index" and index == 0 or params[:action] == "show" %>
  <% end %>
</div>


<div>
  <% if params[:action] == "show" %>
    <%= link_to "Back to rooms", rooms_path %>
  <% elsif params[:action] == "index" %>
    <%= link_to "Show this room", room_path(room) %>
  <% end %>
</div>
<p>
  <%= link_to "Booking this room", room %>
</p>